name: Lint

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 13.x
    - name: Lint
      run: |
        yarn install
        yarn lint
